[Desktop Entry]
Type=Service
Name=mediaconch-implementation-gui.desktop
ServiceTypes=KonqPopupMenu/Plugin,audio/*,video/*,image/*,application/x-flash-video
Actions=mediaconch-implementation-gui
X-KDE-Priority=TopLevel
Keywords=implementation;checker;reporter;trace;mkv;matroska;ffv1;pcm;

[Desktop Action mediaconch-gui]
Name=MediaConch-Implementation
GenericName=MediaConch-Implementation
Exec=mediaconch-implementation-gui %u
Icon=mediaconch-implementation
